.contato {
    padding: 1.5em 1.5em 2em 1.5em;
    background: var(--branco);
    border-bottom: 1px solid #858585;
    ;
}

.contato__titulo {
    font-size: 18px;
    font-weight: 500;
    background: var(--azul-degrade);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contato__texto {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    background: var(--azul-degrade);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 1em 0 1.5em 0;
}

.contato__email {
    background: transparent;
    border: 1px solid var(--azul-titulo);
    border-radius: 24px;
    padding: 0.6em 1.5em;
    width: 90%;
    line-height: 24px;
    color: var(--azul-titulo);
}

.contato__email::placeholder {
    background: url(/img/Email.svg) no-repeat;
    background-position: 0 0.31em;
    font-family: var(--fonte-principal);
    color: var(--azul-titulo);
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    padding: 0 2em;
}